:root {
  --white: #ffffff;
  --black: #000000;
  --main-black: #242424;
  --main-yellow: #f9bd24;

  --btn-bg: #1a1a1a;

  --main-yellow-light: #ffd600;
  --secondary-color: #f4f4f4;

  --sidebar-width: 250px;
}

.login-page {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .login-page-left {
    background-color: var(--main-yellow);
    display: grid;
    place-items: center;
  }

  .login-page-right {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 60px;

    .login-form {
      width: 100%;

      h2 {
        margin-bottom: 20px;
        text-align: center;
        color: var(--main-yellow);
        text-shadow: 1px 1px 5px #eaeaea;
        font-size: 28px;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
        gap: 10px;
        width: 85%;
        font-size: 16px;
        margin: 0px auto;

        label {
            margin-bottom: 5px;
        }

        input {
          padding: 10px 15px;
          margin-bottom: 20px;
          background-color: var(--white);
          border-radius: 3px;
          border: none;
          outline: none;
          box-shadow: 1px 1px 5px #eaeaea;
        }

        button[type="submit"] {
          background: var(--main-yellow);
          padding: 10px 0px;
          border: none;
          outline: none;
          border-radius: 3px;
          transition: all 0.3s linear;
          cursor: pointer;
          font-weight: bold;

          &:hover {
            background: var(--main-yellow-light);
          }
        }
      }
    }
  }
}
