.table-container {
  margin: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
}

th {
  cursor: pointer;
  background-color: #f4f4f4;
}

tr {
  position: relative;

  &:hover {
    background-color: #f1f1f1;
  }
}

thead th:hover {
  background-color: #e2e2e2;
}

.barcode-id {
  cursor: pointer;
  &:hover {
    color: rgb(45, 75, 185);
  }
}

.order-dots {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  position: relative;

  &:hover {
    color: black;
  }

  .dots-box {
    position: absolute;
    top: 50%;
    right: 50%;
    background: #fff;
    border-radius: 3px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      font-size: 14px;
      &:hover {
        background: var(--secondary-color);
      }
      &:first-of-type {
        border-bottom: 2px solid var(--secondary-color);
      }
    }
  }
}

.editing-order-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  background: rgba($color: #000000, $alpha: 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;

  .inside-it {
    width: 80%;
    background: var(--white);
    padding: 40px;
    margin: 40px auto;
    border-radius: 20px;

    .inside-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h2 {
        font-size: 18px;
      }

      .close-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
        svg {
          width: 100%;
          height: 100%;
        }
        &:hover svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}

.order-info-popup {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  
  background: rgba($color: #000000, $alpha: 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 75%;
    background: var(--white);
    border-radius: 20px;
    margin: 40px auto;

    .info-boxes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      .info-box:last-of-type {
        grid-column: span 2;
      }
    }
  }
}


.category-selection {
  display: flex;
  justify-content: start;
  align-items: center;
  & > div {
    width: 140px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--main-black);
    color: var(--secondary-color);
    border: 1px solid gray;
    
    &.active {
      background-color: var(--btn-bg);
      color: var(--white);
      text-decoration: underline;
    }
  }
}